///
/// Контейнер правой колонки
///
.aside-right {
  position: relative;
  width: 25%;
  margin: 30px 0;

  float: right;

  .event-poster {
    height: auto;
  }

  .albums-container {
    width: 100%;
  }

  .album {
    width: 100%!important;
    min-width: unset;
  }

  &.mobile-opened {
    left: unset;
    right: 0;
  }
}

///
/// Заголовок aside
///
.aside__title {
  margin: 30px 0;
  font-size: pxToRem(20);
  font-weight: bold;

  &:first-child {
    margin-top: 0;
  }
}

///
/// Кнопка открытия aside
///
.aside-open {
  display: none;
  margin: 30px 0;
  padding: 15px 20px;
  cursor: pointer;

  border: 1px solid #cecece;
  border-top: 2px solid #008000;
  background-color: #ffffff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);

  transition: .3s ease-in;

  &:hover {
    border-color: #008000;
    box-shadow: 0 3px 7px 3px rgba(0, 0, 0, 0.15);
  }
}

///
/// Кнопка, закрывающая aside
///
.aside-close {
  position: absolute;
  display: none;
  padding: 5px;

  top: 15px;
  right: 15px;

  font-size: pxToRem(24);
  cursor: pointer;
}

body {
  &.category {
    .aside-right {
      margin-top: 0;
    }
  }
}

@media (max-width: 1024px) {
  .aside-open {
    display: block;
  }

  .aside-close {
    display: block;
  }

  .aside-right {
    position: fixed;
    width: 30%;
    max-height: 100%;
    padding: 20px;
    margin: 0;

    top: 0;
    bottom: 0;
    right: -30%;

    background-color: #ffffff;

    overflow: auto;
    transition: .3s ease-in;
    z-index: 1001;
  }
}

@media (max-width: 830px) {
  .aside-right {
    width: 250px;
    right: -250px;
  }
}

@media (max-width: 300px) {
  .aside-right {
    width: 100%;
    right: -100%;
  }
}