/// TODO: подправить .menu-container
///
/// Контейнер меню
///
.menu-container {
  & > ul {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    justify-content: space-between;

    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;

    & > li {
      width: 30%;
      min-width: 240px;
      margin-top: 30px;

      &.menu__title {
        & > a, & > .menu__title {
          display: block;
          color: #868E96;
          margin: 0 0 16px 32px;
          text-decoration: none;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          a {
            @include menu-a;
          }
        }
      }

      @media (max-width: 780px) {
        & {
          width: 45%;
        }
      }

      @media (max-width: 540px) {
        & {
          width: 100%;
        }
      }
    }
  }
}

/// TODO: подправить .main-menu-container
///
/// Контейнер главного меню
///
.main-menu-container {
  display: none;
  position: fixed;
  width: 100%;
  max-height: 100%;

  padding: 100px 0 40px 0;

  background-color: #ffffff;
  z-index: 990;
  overflow-y: auto;

  .search-form {
    .search {
      position: relative;
      margin-top: 16px;
    }

    input[type="search"] {
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #cecece;
      box-sizing: border-box;
    }

    input[type="submit"] {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      background-color: #3aa191;
      color: #fff;
      bottom: 0;
      width: 100px;
    }

    label span {
      color: #5d5b5b!important;
      font-family: Proxima Nova Bold,sans-serif!important;
      font-weight: 700;
    }
  }

  .menu-container {
    .menu__title {
      & > a, & > .menu__title {
        color: #5d5b5b !important;
        font-family: Proxima Nova Bold, sans-serif !important;
        font-weight: bold;
      }
    }

    a {
      color: #000000;
    }
  }
}