/// см. clear: both
@mixin clear-b {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

///
/// Вставляет заднй фон с заполнением всего элемента
///
@mixin abs-bg ($bgUrl) {
  &:after {
    display: block;
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url($bgUrl);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 1;
  }
}

///
/// Чтобы не повторять стили класса main-nav__menu-item
///
@mixin main-nav__menu-item {
  display: inline-block;

  a {
    display: block;
    padding: 20px 30px;

    position: relative;

    text-decoration: none;
    color: #ffffff;

    transition: 0.08s ease-in;

    i {
      padding-left: 10px;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    &:before {
      content: "";
      position: absolute;
      transition: opacity 0.2s ease-in;
      width: 100%;
      height: 3px;
      top: 0;
      left: 0;
      background-color: #ffffff;
      opacity: 0;
    }
  }
}

///
/// Заготовка ссылки в меню
///
@mixin menu-a {
  display: block;
  color: #DEE2E6;
  text-decoration: none;
  padding-bottom: 4px;
  margin-bottom: 8px;

  &:before {
    display: inline-block;
    content: "\f064";

    width: 14px;
    height: 14px;
    padding-right: 18px;

    font-family: icomoon, sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: dimgrey;

    visibility: hidden;
    transition: .08s ease-out;
  }

  &:hover {
    &:before {
      visibility: visible;
    }
  }
}