/// Расположение шрифтов Proxima Nova
$proxima-nova-path: "webfonts/proxima-nova/";

/// Расположение шрифтов Fontawesome
//$fa-font-path: "webfonts/fontawesome/";

/// Расположение шрифтов icomoon
$icomoon-path: "webfonts/icomoon/";

/// Основной размер шрифта
$font-main-size: 16;