///
/// Контейнер видео и фотоальбомов
///
.albums-container {
  display: flex;
  margin: 30px 0;

  flex-wrap: wrap;
  justify-content: space-between;
}

///
/// Контейнер категории фотоальбомов
///
.photo-albums-category-container {
  width: 70%;
  @extend .albums-container;
}

///
/// Контейнер категории видео материалов
///
.videos-category-container {
  width: 70%;
  @extend .albums-container;
}

///
/// Класс альбома
///
.album {
  display: block;
  position: relative;

  width: 32.334%;
  min-width: 200px;
  height: 200px;

  margin-top: 20px;

  text-decoration: none;
  box-shadow: 0 0 5px 0 #000;
  background-image: linear-gradient(to right bottom, #253CCD, #008B6C);

  overflow: hidden;
  transition: 0.3s ease-out;
  z-index: 1;

  &:first-child, &:nth-child(10n+1), &:nth-child(10n-3) {
    width: 66%;
  }

  &:first-child, &:nth-child(2) {
    margin-top: 0;
  }

  &:hover {
    box-shadow: 0 0 20px 1px #272323;

    .album__info {
      background-color: rgba(0,0,0,.8);
    }

    .album__bg, &:after {
      transform: scale(1.1);
    }
  }

  &:after {
    display: block;
    content: "";

    width: 43px;
    height: 46px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -23px;
    margin-left: -22.5px;

    background-image: url('images/logo/logo_small.png');
    background-size: cover;

    transition: 0.3s ease-out;
    z-index: 1;
  }
}

///
/// Информация об альбоме
///
.album__info {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 20px;

  color: #ffffff;
  background-color: rgba(0,0,0,.7);
  z-index: 10;
}

///
/// Заголовок альбома
///
.album__title {
  margin: 0 !important;
  font-size: pxToRem(15);
  font-weight: lighter;
}

///
/// Дата публикации альбома
///
.album__date {
  display: inline-block;
  font-size: pxToRem(12);
  border-bottom: 1px solid #ffffff;
  margin-bottom: 5px;
}

///
/// Задний фон альбома
///
.album__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-size: cover;
  background-position: center;

  transition: 0.3s ease-out;
  z-index: 3;
}

@media (max-width: 1024px) {
  .photo-albums-category-container,
  .videos-category-container {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .album {
    &:nth-child(2) {
      margin-top: 20px;
    }

    &:nth-child(10n+1), &:nth-child(10n-3) {
      width: unset;
    }

    &:nth-child(3n), &:nth-child(3n-1) {
      width: 48%;
    }

    &:nth-child(3n-2) {
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .album:nth-child(n) {
    width: 48%;
  }

  .album:nth-child(2) {
    margin-top: 0;
  }
}

@media (max-width: 470px) {
  .album:nth-child(n) {
    width: 100%;
    height: 120px;
  }

  .album:nth-child(2) {
    margin-top: 20px;
  }

  .album__title {
    font-size: pxToRem(12);
  }

  .album__date {
    font-size: pxToRem(9.6);
  }
}