/**
 * Контейнер последних новостей на главной
 */
.last-news-container {
  position: relative;

  ul {
    display: inline-block;
    width: 50%;
    max-width: 500px;
    min-width: 300px;

    padding: 0;
    margin: 0;

    list-style-type: none;
    border-top: 2px solid green;

    .news {
      position: relative;
      border-left: 1px solid #c0c0c0;
      border-bottom: 1px solid #c0c0c0;
      background-color: #ffffff;

      a {
        display: block;
        position: relative;
        padding: 20px;

        color: #000000;
        text-decoration: none;
        z-index: 12;

        .news__date {
          display: inline-block;
          padding-bottom: 2px;
          margin-bottom: 6px;

          border-bottom: 2px #787878 solid;

          font-size: 0.875rem;
          line-height: 1.3125rem;
        }

        .news__title {
          margin: 0;
          font-size: 1.25rem;
          line-height: 1.5rem;
        }

        .news__img {
          display: none;
          position: absolute;
          right: 0;
        }
      }

      &.active, &:hover {
        a { background-color: #DCF1DC; }
        &:after {
          display: block;
        }
      }

      &:after {
        display: none;
        content: "";
        position: absolute;
        height: 50px;
        width: 50px;
        transform: rotate(45deg);
        right: -22px;
        top: 50%;
        margin-top: -28px;
        background-color: #DCF1DC;
        border: 2px solid green;
        z-index: 5;
      }
    }
  }

  .news-preview {
    position: absolute;
    height: inherit;
    right: 0;
    cursor: pointer;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.no-thumbnail {
      background-image: linear-gradient(to right bottom, #253CCD, #008B6C);

      &:after {
        display: block;
        content: "";

        width: 91px;
        height: 94px;

        position: absolute;
        top: 50%;
        left: 50%;

        margin-top: -45.5px;
        margin-left: -47px;

        background-image: url('images/logo/logo_small.png');
        background-size: cover;

        transition: 0.3s ease-out;
        z-index: 1;
      }
    }
  }
}

/**
 * Контейнер новостей в категории
 */
.news-category-container {
  width: 70%;

  .news {
    margin: 30px auto;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.15);
    overflow: hidden;

    .news__thumbnail {
      display: block;
      width: 100%;
      height: 200px;

      background-size: cover;
      background-position: 50%;
      text-decoration: none;
    }

    .news__info {
      padding: 20px;
      background-color: #fff;
      border: 1px solid #cecece;

      .news__title {
        display: block;
        margin: 0;
        padding-bottom: 20px;

        color: inherit;
        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 1.3125rem;
        font-weight: bolder;

        text-decoration: none;
      }

      .news__more-info {
        margin-bottom: 20px;
        margin-top: -15px;
        text-align: left;

        div {
          display: inline-block;
          margin: 0 10px;

          &:first-child {
            margin-left: 0;
          }
        }

        i {
          color: #989898;
        }
      }

      .news__description {
        text-align: justify;
        line-height: 22px;
        font-size: 1.0625rem;
      }

      p {
        margin: 1rem 0;
      }

      &:not(.no-thumbnail) {
        border-top: none;
      }
    }

    .news__read-more {
      display: block;
      position: relative;
      width: 100%;
      padding: 10px 30px;

      color: inherit;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;

      background-color: #fff;
      border: 2px solid rgba(3,134,115,.41);

      transition: .55s ease-out;

      &:hover {
        border-color: #038673;
        background-color: #dcf1dc;
      }
    }
  }
}
.category-container {
  @extend .news-category-container;
}

@media (max-width: 1024px) {
  .news-category-container,
  .category-container {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .news-preview {
    position: relative!important;
    height: 300px!important;
    width: 100%!important;
  }

  .last-news-container {
    ul {
      width: 100%;
      max-width: 100%;
      min-width: unset;

      li {
        border-right: 1px solid #c0c0c0;
        overflow: hidden;

        &:after {
          display: none;
        }
      }
    }
  }
}