///
/// Контейнер поста
///
.post-container {
  width: 70%;
  //margin: -30px 0;

  background-color: #ffffff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .15);

  border-right: 1px solid #cecece;
  border-left: 1px solid #cecece;

  color: #000;
  font-size: pxToRem(18);

  //float: left;

  &.for-album {
    width: 100%;
  }
}

/// Класс поста
.post {
  //margin: 30px 0;
  //padding: 0 40px;
  padding: .1px 40px;

  p {
    margin: 30px 0;
    line-height: 30px;
  }

  figure {
    margin: 30px 0;

    &.wp-block-pullquote {
      border-top: 3px solid grey;
      border-bottom: 3px solid grey;

      blockquote {
        border: none;
        padding: 0;
      }
    }
  }

  hr {
    margin: 30px 0;
  }

  blockquote {
    margin: 30px 0;
    padding: 10px 0 10px 20px;
    font-style: italic;
    border-left: 3px solid green;

    p {
      margin: 0;
    }

    cite {
      font-size: pxToRem(14);
      color: #908f8f;
    }
  }

  pre {
    margin: 30px 0;
  }

  a {
    @extend .post__href;
  }

  img {
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }

  .instagram-media {
    display: inline-block !important;
  }

  .aligncenter {
    text-align: center;
  }
}

///
/// Изображение записи (preview, thumbnail)
///
.post__thumbnail {
  width: 100%;
  max-width: 100%;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.4);
}

///
/// Заголовок поста
///
.post__title {
  font-family: Proxima Nova Bold,sans-serif;
  font-weight: bold;
  font-size: pxToRem(27);

  & + .post__more-info, & + .post__admin-bar {
    margin-top: -20px;
  }
}

///
/// Дополнительная информация о посте
///
.post__more-info {
  margin: 30px 0;
  font-size: pxToRem(16);
  text-align: left;

  span {
    display: inline-block;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  i {
    color: #989898;
  }

  & + .post__admin-bar {
    margin-top: -20px;
  }
}

///
/// Блок для редакторов поста
///
.post__admin-bar {
  @extend .post__more-info;

  a {
    @extend .post__href;
    color: inherit;
  }
}

///
/// Ссылки в посте
///
.post__href {
  color: #263ccd;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

///
/// Блок, показывающийся только в мобильной версии
///
.post__mobile {
  display: none;
  text-align: center;
}

///
/// Блок, НЕ показывающийся в мобильной версии
///
.post__mobile--not {
  display: block;
}

@media (max-width: 1024px) {
  .post__mobile {
    display: block;
  }

  .post__mobile--not {
    display: none;
  }

  .post-container {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .post {
    padding-left: 20px;
    padding-right: 20px;
  }
}